SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=solar_erp
POSTGRES_USER=solar
POSTGRES_PASSWORD=solar_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ACCESS_TOKEN_LIFETIME_MIN=60
REFRESH_TOKEN_LIFETIME_DAYS=7
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=sales@solar.com
