{% extends "portal/base_mobile.html" %}
{% block title %}New Lead{% endblock %}{% block header %}New Lead{% endblock %}
{% block content %}
<form method="post" class="p-form">{% csrf_token %}
  {% for field in form %}
    <label class="p-field"><span>{{ field.label }}</span>{{ field }}
      {% for e in field.errors %}<em class="p-err">{{ e }}</em>{% endfor %}</label>
  {% endfor %}
  <button class="p-btn" type="submit">Save Lead</button>
</form>
{% endblock %}
{% block nav %}{% include "portal/_sales_nav.html" %}{% endblock %}
