{% extends "portal/base_mobile.html" %}
{% block title %}Tickets{% endblock %}
{% block header %}My Tickets{% endblock %}
{% block content %}
<div class="p-search">
  <a class="p-btn {% if show != 'all' %}{% else %}p-btn-sec{% endif %}" href="?show=open">Open</a>
  <a class="p-btn {% if show == 'all' %}{% else %}p-btn-sec{% endif %}" href="?show=all">All</a>
</div>
{% for t in tickets %}
  <a class="p-row" href="{% url 'portal:tech_ticket_detail' t.pk %}">
    <div><b>{{ t.title }}</b><br>
      <small>{{ t.ticket_number }} &middot; {{ t.customer.name }}
        {% if t.project %}&middot; {{ t.project.project_number }}{% endif %}</small></div>
    <span class="p-badge s-{{ t.status|lower }}">{{ t.get_status_display }}</span>
  </a>
{% empty %}
  <p class="p-empty">No tickets found.</p>
{% endfor %}
{% endblock %}
{% block nav %}{% include "portal/_tech_nav.html" %}{% endblock %}
